server {
  listen 80;
  server_name localhost;
  default_type application/octet-stream;
  sendfile on;
  tcp_nopush on;
  client_max_body_size 512M;

  location / {
    proxy_pass http://web:${VITE_WEB_PORT};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;
  }

  location /api/ {
    include snippets/cors.conf;
    proxy_pass http://api:${VITE_API_PORT}/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}
