server {
  listen 80;
  server_name localhost;
  default_type application/octet-stream;
  sendfile on;
  tcp_nopush on;
  client_max_body_size 512m;
  client_body_temp_path ${IMG_PATH}/tmp;
  create_full_put_path on;

  location / {
    include snippets/websocket.conf;
    proxy_pass http://web:${VITE_WEB_PORT};
  }

  location /api/ {
    # include snippets/cors.conf;
    proxy_pass http://api:${VITE_API_PORT}/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  location /media/image/ {
    alias ${IMG_PATH}/;

    expires 30d;
    add_header Cache-Control "public, no-transform";
    add_header Access-Control-Allow-Origin *;
  }
  location /media/video/ {
    alias ${VIDEO_PATH}/;

    add_header Cache-Control "public, no-transform";
    add_header Access-Control-Allow-Origin *;
  }
  location /media/preview/ {
    alias ${PREVIEW_PATH}/;

    expires 30d;
    add_header Cache-Control "public, no-transform";
    add_header Access-Control-Allow-Origin *;
  }

  location /api/ping/auth_check {
    internal;
    proxy_pass http://api:${VITE_API_PORT}/ping/auth_check;
    proxy_method GET;
    proxy_pass_request_body off;
    proxy_set_header Content-Length "";
  }
}
